html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #EBEDE4;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  color: #01533B;
}

h5 { color: #01533B; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
